.main__container {
    display: flex;
    width: 100%;
    position: relative; 
    /* justify-self: center; */
    flex-direction: column;
    /* vertical-align: middle; */
    row-gap: 15px;
    /* align-self: center; */
    justify-content: center;
}

.grid__items {
    width: 80.5%;
    margin: 0 auto;
}

.cards {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.card {
    width: 450px;
    height: 450px;
}

.card__image {
    width: 100%;
    height: 330px;
    object-fit: cover;
    display: block;
}

.card__content {
    padding: 15px;
    background: white;
    height: max-content;
}

.card__title {
    font-style: bold;
    font-size: 1.2em;
    overflow: hidden;
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 25px;    
    max-height: 60px;     
    -webkit-line-clamp: 2; /* Write the number of 
                              lines you want to be 
                              displayed */
    -webkit-box-orient: vertical;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 15px;
}

.card__title:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.tag__container {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
}

.AAcard__tag {
    background-color: rgb(41,89,123);
    border-radius: 5px;
    font-size: 0.7em;
    color: white;
    padding: 4px;
    margin-right: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.TAcard__tag {
    font-size: 0.7em;
    color: white;
    border-radius: 5px;
    background-color: forestgreen;
    padding: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card__content > p:first-of-type {
    margin-top: 0;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: #64968c;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}

.filtering-box {
    width: 81%;
    background: rgb(236, 236, 236);
    padding: 5px;
    border-radius: 5px;
    justify-content: flex-end;
    display: flex;
    position: relative;
    align-self: center;
    height: auto;
}

.AA-single {
    width: 30%;
    /* right: 0;
    bottom: 0;
    position: absolute; */
    padding-right: 2px;
}

.TA-single {
    width: 30%;
}

@media screen and (max-width: 1325px) {
    .AA-single {
        width: 50%;
    }

    .TA-single {
        width: 50%;
    }
    
    .grid__items {
        display: flex;
        justify-content: center;
        justify-items: center;
    }
}